Repository ianunruh/openstack-operator-images: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-base, build-ceph, build-barbican, build-cinder, build-glance, build-heat, build-horizon, build-keystone, build-libvirt, build-magnum, build-manila, build-neutron, build-nova, build-octavia, build-placement, build-senlin

build-base:
  stage: build-base
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-ceph:
  stage: build-ceph
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-barbican:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-cinder:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-glance:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-heat:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-horizon:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-keystone:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-libvirt:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-magnum:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-manila:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

build-neutron:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint:
    - ''
  script:
  - export CURRENT_PROJECT=$(echo $CI_JOB_NAME | sed 's/build-//g')
  - cd $CURRENT_PROJECT
  - mkdir -p /kaniko/.docker
  ...

senlin: Add pymysql
  senlin/Dockerfile
Due: build-senlin

horizon: Add senlin plugin
  horizon/Dockerfile
Due: build-horizon

horizon: Add senlin plugin (#2)
  horizon/Dockerfile
Due: build-horizon

base: Install jaeger-client for osprofiler
  base/Dockerfile
Due: build-base, build-ceph, build-barbican, build-cinder, build-glance, build-heat, build-horizon, build-keystone, build-libvirt, build-magnum, build-manila, build-neutron, build-nova, build-octavia, build-placement, build-senlin

octavia: Add OVN provider packages
  octavia/Dockerfile
Due: build-octavia

libvirt: Add virt-top utility
  libvirt/Dockerfile
Due: build-libvirt

keystone: Add libapache2-mod-auth-openidc
  keystone/Dockerfile
Due: build-keystone

keystone: Add libapache2-mod-auth-openidc (#3)
  keystone/Dockerfile
Due: build-keystone

nova: Add health probe from openstack-helm
  nova/Dockerfile
Due: build-nova

nova: Add health probe from openstack-helm (#4)
  nova/Dockerfile
Due: build-nova

Upgrade to Ubuntu 22.04 and OpenStack 2023.2
  base/Dockerfile
Due: build-base, build-ceph, build-barbican, build-cinder, build-glance, build-heat, build-horizon, build-keystone, build-libvirt, build-magnum, build-manila, build-neutron, build-nova, build-octavia, build-placement, build-senlin

Upgrade github actions to latest versions
  .github/workflows/build-image.yaml
Due: none

Upgrade mod_auth_openidc to latest version
  keystone/Dockerfile
Due: build-keystone

Upgrade to Ubuntu 22.04 and OpenStack 2023.2 (#5)
  .github/workflows/build-image.yaml
  base/Dockerfile
  keystone/Dockerfile
Due: build-base, build-ceph, build-barbican, build-cinder, build-glance, build-heat, build-horizon, build-keystone, build-libvirt, build-magnum, build-manila, build-neutron, build-nova, build-octavia, build-placement, build-senlin

base: Add python3-memcache
  base/Dockerfile
Due: build-base, build-ceph, build-barbican, build-cinder, build-glance, build-heat, build-horizon, build-keystone, build-libvirt, build-magnum, build-manila, build-neutron, build-nova, build-octavia, build-placement, build-senlin

base: Add python3-memcache (#6)
  base/Dockerfile
Due: build-base, build-ceph, build-barbican, build-cinder, build-glance, build-heat, build-horizon, build-keystone, build-libvirt, build-magnum, build-manila, build-neutron, build-nova, build-octavia, build-placement, build-senlin

Fix Horizon assets, use master tag for images
  .gitlab-ci.yml
  barbican/Dockerfile
  ceph/Dockerfile
  cinder/Dockerfile
  glance/Dockerfile
  heat/Dockerfile
  horizon/Dockerfile
  keystone/Dockerfile
  libvirt/Dockerfile
  magnum/Dockerfile
  manila/Dockerfile
  neutron/Dockerfile
  nova/Dockerfile
  octavia/Dockerfile
  placement/Dockerfile
  senlin/Dockerfile
Due: build-ceph, build-barbican, build-cinder, build-glance, build-heat, build-horizon, build-keystone, build-libvirt, build-magnum, build-manila, build-neutron, build-nova, build-octavia, build-placement, build-senlin

Fix Horizon assets, use master tag for images (#7)
  .gitlab-ci.yml
  barbican/Dockerfile
  ceph/Dockerfile
  cinder/Dockerfile
  glance/Dockerfile
  heat/Dockerfile
  horizon/Dockerfile
  keystone/Dockerfile
  libvirt/Dockerfile
  magnum/Dockerfile
  manila/Dockerfile
  neutron/Dockerfile
  nova/Dockerfile
  octavia/Dockerfile
  placement/Dockerfile
  senlin/Dockerfile
Due: build-ceph, build-barbican, build-cinder, build-glance, build-heat, build-horizon, build-keystone, build-libvirt, build-magnum, build-manila, build-neutron, build-nova, build-octavia, build-placement, build-senlin

Revert horizon fixes, disable extra plugins
  base/Dockerfile
  horizon/Dockerfile
Due: build-base, build-ceph, build-barbican, build-cinder, build-glance, build-heat, build-horizon, build-keystone, build-libvirt, build-magnum, build-manila, build-neutron, build-nova, build-octavia, build-placement, build-senlin

Revert horizon fixes, disable extra plugins (#8)
  base/Dockerfile
  horizon/Dockerfile
Due: build-base, build-ceph, build-barbican, build-cinder, build-glance, build-heat, build-horizon, build-keystone, build-libvirt, build-magnum, build-manila, build-neutron, build-nova, build-octavia, build-placement, build-senlin

Path conditions:
  build-base: any of: base/**
  build-ceph: any of: base/**, ceph/**
  build-barbican: any of: base/**, barbican/**
  build-cinder: any of: base/**, ceph/**, cinder/**
  build-glance: any of: base/**, ceph/**, glance/**
  build-heat: any of: base/**, heat/**
  build-horizon: any of: base/**, horizon/**
  build-keystone: any of: base/**, keystone/**
  build-libvirt: any of: base/**, ceph/**, libvirt/**
  build-magnum: any of: base/**, magnum/**
  build-manila: any of: base/**, ceph/**, manila/**
  build-neutron: any of: base/**, neutron/**
  build-nova: any of: base/**, ceph/**, nova/**
  build-octavia: any of: base/**, octavia/**
  build-placement: any of: base/**, placement/**
  build-senlin: any of: base/**, senlin/**
